$primary-color: #003e54;
$font-stack: Arial, sans-serif;
$navbar-height-large: 80px;
$navbar-height-small: 50px;

body {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
}

header {
    background-color: $primary-color;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    height: $navbar-height-large;
    line-height: $navbar-height-large; // Vertical centering
    
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center; // For modern centered nav items
        
        li {
            display: inline-block;
            margin-right: 20px;
            
            a {
                text-decoration: none;
                color: white;
                padding: 0 15px; // Spacing around nav items
                display: inline-block; // For padding to take effect
                transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
                
                &:hover {
                    color: darken(white, 20%);
                }
            }
        }
    }
}

$overlay-color: rgba(0, 0, 0, 0.5); // Semi-transparent black
$overlay-text-color: #ffffff; // White text

#home {
    
    background: url('../assets/images/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 700px; // Adjust as needed
    position: relative;
    color: $overlay-text-color;
    
    .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); // Center the text block
        text-align: center;
        background-color: $overlay-color;
        padding: 20px;
        border-radius: 8px; // Optional for rounded corners on the text block
        
        h2 {
            margin-bottom: 20px;
        }
    }
}

// For smaller navbar on scroll
.small-nav {
    height: $navbar-height-small;
    line-height: $navbar-height-small;
    
    ul li a {
        font-size: 0.8em; // Smaller font size when navbar is small
    }
}

.active-nav-item {
    a {
        color: darken(#df9eff, 20%);
        font-weight: bold;
        font-size: 1em;
    }
}


$carousel-height: 500px;

#about-animals {
    padding: 30px 20px;
    #carousel {
        position: relative;
        height: $carousel-height;
        
        .slide {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 1s;
            
            &.active {
                opacity: 1;
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        #prevBtn,
        #nextBtn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2em;
            color: white;
            background-color: transparent;
            border: none;
            cursor: pointer;
            
            &:hover {
                color: darken(white, 20%);
            }
        }
        
        #prevBtn { left: 10px; }
        #nextBtn { right: 10px; }
    }
}

$about-background: #e9ecef; // Adjust as per your design preference
$column-background: #ffffff; // Adjust as per your design preference
$column-border: #ced4da; // Adjust as per your design preference

#about {
    background-color: $about-background;
    padding: 50px 50px; // Top and bottom padding
    
    .container {
        display: flex;
        justify-content: space-between; // Distributes the columns evenly
        flex-wrap: wrap; // Allows the columns to wrap to the next line on smaller screens
        
        .column {
            background-color: $column-background;
            border: 1px solid $column-border;
            flex: 1; // Takes equal width
            margin: 0 15px; // Left and right margin
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1); // Optional: for a subtle shadow effect
        }
    }
}

@media (max-width: 768px) { // Adjust breakpoint as needed
    #about .container {
        flex-direction: column;
        
        .column {
            margin-bottom: 15px; // Bottom margin for stacked columns
        }
    }
}

#modal-section {
    padding: 40px 20px;
    .columns {
        display: flex;
        justify-content: space-between;
        background-color:#ced4da;
        padding: 20px;
    }

    .stylish-btn {
        background-color: $primary-color;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 1em;
        transition: all 0.3s ease;
        
        &:hover {
            background-color: darken($primary-color, 10%); // A darker shade when hovered
            transform: scale(1.05); // Slightly increase the size when hovered
        }
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4); // Black w/ opacity
        
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%; // Adjust as needed
            text-align: center;
            
            h3 {
                font-size: 1.5em;
                margin-bottom: 10px;
            }
            
            p {
                margin-bottom: 20px;
            }

            img {
                max-width: 100%;
                height: auto;
                border-radius: 8px;
            }
            
            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                
                &:hover,
                &:focus {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 768px) { // Adjust breakpoint as needed
    #modal-section .columns {
        flex-direction: column;
        
        .column {
            margin-bottom: 15px; // Bottom margin for stacked columns
        }
    }
}

$video-background-color: #fafafa; // Choose a suitable color that matches your design

#video-section {
    background-color: $video-background-color;
    padding: 50px 0; // Adjust as needed
    
    .container {
        text-align: center;
        
        h2 {
            margin-bottom: 20px; // Adjust as needed
        }
        
        video {
            width: 80%; // Adjust as needed
            border-radius: 10px; // Optional, for rounded corners
        }
    }
}

$animation-background-color: #ececec; // Adjust as per your design preference

#animation-section {
    background-color: $animation-background-color;
    padding: 50px 0;
    
    .container {
        text-align: center;
        
        h2 {
            margin-bottom: 10px; // Adjust as needed
        }
        
    }
}


.animated-element {
    opacity: 0; // Initially invisible
    transition: opacity 2s ease-in-out; // Apply transition to opacity
    
    &.in-viewport {
        opacity: 1; // Fully visible when in-viewport class is applied
    }

    &.out-viewport {
        opacity: 0; // You can manage different styles or animations when the element is out of view
        // Other styles or transformations for the out of viewport state
    }
}

$footer-background: #333;
$icon-color: #fff;

footer {
    background-color: $footer-background;
    padding: 20px 0;
    
    .container {
        display: flex;
        justify-content: center;
        
        .social-icons {
            display: flex;
            gap: 15px;
            
            .icon {
                color: $icon-color;
                font-size: 20px;
                transition: color 0.3s ease-in-out;
                
                &:hover {
                    color: lighten($icon-color, 20%);
                }
            }
        }
    }
}